# Postgres 
POSTGRES_USER= #
POSTGRES_PASSWORD= #
POSTGRES_DB= #

POSTGRES_HEALTHCHECK_INTERVAL=10s
POSTGRES_HEALTHCHECK_TIMEOUT=5s
POSTGRES_HEALTHCHECK_RETRIES=5

POSTGRES_INTERNAL_PORT=5032 #
POSTGRES_EXTERNAL_PORT=5034 #


# Minio
MINIO_ACCESS_KEY=minioadmin #
MINIO_SECRET_KEY=minioadmin123 #

MINIO_EXTERNAL_PORT=9000 #
MINIO_INTERNAL_PORT=9000 #

MINIO_CONSOLE_EXTERNAl_PORT=9001 #
MINIO_CONSOLE_INTERNAL_PORT=9001 #

MINIO_HEALTHCHECK_INTERVAL=10s #
MINIO_HEALTHCHECK_TIMEOUT=5s #
MINIO_HEALTHCHECK_RETRIES=5 #

# Для Go-приложения
SERVER_CONFIG_PATH= #
CLIENT_CONFIG_PATH= #
 
SERVER_INTERNAL_PORT=50051    #
SERVER_EXTERNAL_PORT=50051  #

SERVER_HEALTHCHECK_INTERVAL=10s #
SERVER_HEALTHCHECK_TIMEOUT=5s #
SERVER_HEALTHCHECK_RETRIES=5 #