# --- Конфигурация gRPC сервера ---
GRPC_SERVER_ADDR= # Порт gRPC сервера
PEPPER= # Перец

# --- JWT Конфигурация ---
JWT_SIGNING_KEY= # JWT ключ
JWT_ACCESS_TTL= # JWT время жизни
JWT_REFRESH_TTL= # JWT время жизни

# --- Конфигурация PostgreSQL
DB_HOST=HOST # Хост
DB_PORT=PORT # Порт
DB_USER=USER # Пользователь
DB_PASSWORD=PASSWORD # Пароль
DB_NAME=DB_NAME # База данных
DB_SSL_MODE=SSL_MODE # Режим SSL

# --- Конфигурация MinIO ---
MINIO_ENDPOINT=ENDPOINT # Эндпоинт
MINIO_ACCESS_KEY=MINIO_ACCESS_KEY # Access Key
MINIO_SECRET_KEY=MINIO_SECRET_KEY # Secret Key
MINIO_BUCKET=MINIO_BUCKET # Бакет
MINIO_USE_SSL=MINIO_USE_SSL # Использовать SSL
