# --- Конфигурация gRPC сервера ---
# Адрес (хост и порт), на котором будет слушать gRPC сервер.
GRPC_SERVER_ADDR="localhost:50051"

PEPPER = "secretkey"

# --- Конфигурация PostgreSQL ---
# Адрес сервера базы данных.
DB_HOST=localhost

# Порт сервера базы данных.
DB_PORT=5432

# Имя пользователя для подключения к БД.
DB_USER=postgres

# Пароль пользователя для подключения к БД. 
# В реальном .env файле здесь должен быть настоящий, сложный пароль.
DB_PASSWORD="your_secret_password"

# Название базы данных.
DB_NAME=secretkeeper

# Режим SSL-соединения. Для локальной разработки "disable".
# Для продакшена обычно "require" или "verify-full".
DB_SSL_MODE=disable

# --- Настройки пула соединений с PostgreSQL ---
# Максимальное количество открытых соединений с БД.
DB_MAX_OPEN_CONNS=10

# Максимальное количество соединений, которые могут находиться в простое (idle).
DB_MAX_IDLE_CONNS=5

# Максимальное время жизни соединения, после которого оно будет пересоздано (например, 1h, 30m).
# Помогает избежать проблем с firewall или старыми соединениями.
DB_CONN_MAX_LIFETIME=1h

# Максимальное время, которое соединение может простаивать, прежде чем будет закрыто.
DB_CONN_MAX_IDLE_TIME=5m
